# PostgreSQL
POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppassword

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Spring Boot
DDL_AUTO=update

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:8080
